<section>
    <div>
        <a href="#">Home</a>
        <svg width="7" height="12">
            <use href="/img/icons.svg#icon-arrow-right-links"></use>
        </svg>
        <a href="#">Cart</a>
    </div>
    <h1>Your cart</h1>
    <div>
        <ul>
            <li>
                <div></div>
                <div>
                    <p>Gradient Graphic T-shirt</p>
                    <p>Size:<span>Large</span></p>
                    <p>Color:<span>White</span></p>
                    <p>$145</p>
                </div>
                <svg width="18" height="20">
                    <use href="/img/icons.svg#icon-basket"></use>
                </svg>
                <span>
                    <svg width="16" height="2">
                        <use href="/img/icons.svg#icon-minus"></use>
                    </svg>
                    <p>1</p>
                    <svg width="16" height="16">
                        <use href="/img/icons.svg#icon-plus"></use>
                    </svg>
                </span>
            </li>
        </ul>
    </div>
</section>