<section class="category">
    <div class="container">
        <div class="category-links">
            <a href="" class="category-link" aria-label="Home">Home</a>
            <svg class="products-link-svg" width="6.5" height="11.5">
                <use href="/img/icons.svg#icon-arrow-right-links"></use>
            </svg><a href="" class="category-link" aria-label="Casual">Casual</a>
        </div>

        <load src="./category-aside.html" />
        
        <div class="category-productss">
            <div class="category-productss-head">
                <h2 class="category-productss-title">Casual</h2>
                <div class="category-productss-title-info-box">
                    <p class="category-productss-title-count">Showing 1-10 of 100 Products</p>
                    <form class="category-head-form">
                        <label for="category-head-sort">Sort by:</label>
                        <select id="category-head-sort" name="category">
                            <option value="popular">Most Popular</option>
                            <option value="price">Price</option>
                            <option value="rating">Rating</option>
                            <option value="name">Name</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="category-productss-body">
                <ul class="category-productss-body-ul">
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Gradient Graphic T-shirt">Gradient Graphic
                            T-shirt</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                3.5/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$145</p>
                            <p class="category-products-description-price-old" hidden></p>
                            <span class="category-products-description-price-sale" hidden></span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Polo with Tipping Details">Polo with
                            Tipping Details</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                4.5/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$180</p>
                            <p class="category-products-description-price-old" hidden></p>
                            <span class="category-products-description-price-sale" hidden></span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Black Striped T-shirt">Black Striped
                            T-shirt</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                3.5/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$120</p>
                            <p class="category-products-description-price-old">$150</p>
                            <span class="category-products-description-price-sale">-30%</span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Skinny Fit Jeans">Skinny Fit Jeans</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                3.5/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$240</p>
                            <p class="category-products-description-price-old">$260</p>
                            <span class="category-products-description-price-sale">-20%</span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Checkered Shirt">Checkered Shirt</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                4.5/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$180</p>
                            <p class="category-products-description-price-old" hidden></p>
                            <span class="category-products-description-price-sale" hidden></span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Sleeve Striped T-Shirt">Sleeve Striped
                            T-Shirt</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                4.5/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$130</p>
                            <span class="category-products-description-price-sale">-30%</span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Vertical Striped Shirt">Vertical Striped
                            Shirt</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                5.0/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$212</p>
                            <p class="category-products-description-price-old">$232</p>
                            <span class="category-products-description-price-sale">-20%</span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Courage Graphic T-Shirt">Courage Graphic
                            T-Shirt</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                4.0/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$145</p>
                            <p class="category-products-description-price-old" hidden></p>
                            <span class="category-products-description-price-sale" hidden></span>
                        </div>
                    </li>
                    <li class="category-productss-body-li">
                        <img class="category-products-img" src="" alt="" width="295px" height="298px">
                        <a href="" class="category-products-link" aria-label="Loose Fit Bermuda Shorts">Loose Fit
                            Bermuda Shorts</a>
                        <div class="category-products-description-grade">
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="category-products-grade-star" width="18.5" height="18.5">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <p class="category-products-grade-number">
                                3.0/<span class="category-products-grade-number-grey">5</span>
                            </p>
                        </div>
                        <div class="category-products-description-price">
                            <p class="category-products-description-price-current">$80</p>
                            <p class="category-products-description-price-old" hidden></p>
                            <span class="category-products-description-price-sale" hidden></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="category-buttons-box"><a class="category-button"><svg class="category-btn-arrows" width="12"
                        height="12">
                    <use href="/img/icons.svg#icon-left-arrow"></use>
                    </svg> Previous
                </a>
                <ul class="category-button">
                    <li class="category-btn-ul"><a href="" class="category-link-numbers">1</a></li>
                    <li class="category-btn-ul"><a href="" class="category-link-numbers">2</a></li>
                    <li class="category-btn-ul"><a href="" class="category-link-numbers">3</a></li>
                    <li class="category-btn-ul"><a href="" class="category-link-numbers">...</a></li>
                    <li class="category-btn-ul"><a href="" class="category-link-numbers">8</a></li>
                    <li class="category-btn-ul"><a href="" class="category-link-numbers">9</a></li>
                    <li class="category-btn-ul"><a href="" class="category-link-numbers">10</a></li>
                </ul>
                <a class="category-button">Next <svg class="category-btn-arrows" width="12" height="12">
                        <use href="/img/icons.svg#icon-right-arrow"></use>
                    </svg></a>
            </div>
        </div>

    </div>
</section>