<section class="dress-style-section" id="dress-style">
    <h2 class="dress-style-title">BROWSE BY dress STYLE</h2>
    <div class="dress-style-img-box">
        <p class="dress-style-text">Casual</p>
    </div>
    <div class="dress-style-img-box">
        <p class="dress-style-text">Formal</p>
    </div>
    <div class="dress-style-img-box">
        <p class="dress-style-text">Party</p>
    </div>
    <div class="dress-style-img-box">
        <p class="dress-style-text">Gym</p>
    </div>
</section>