<section class="footer">
    <div class="container">
        <div class="footer-search-box">
            <h2 class="footer-title">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
            <form class="footer-form">
                <label>
                    <svg class="footer-form-icon" width="20" height="16">
                        <use href="/img/icons.svg#icon-message"></use>
                    </svg>
                    <input class="footer-input" aria-label="input for email" placeholder="Enter your email address" type="email"></label><button
                    class="footer-button" aria-label="button for submit email" type="submit">Subscribe to Newsletter</button>
            </form>
        </div>

        <div class="footer-links-box">
            <div class="footer-logo-box">
                <a class="footer-logo" href="/" aria-label="go to home page">SHOP.CO</a>
                <p class="footer-logo-decription">We have clothes that suits your style and which you're proud to wear.
                    From women to men.</p>
                <div class="footer-social">
                    <a class="footer-social-link" href="" aria-label="go to twitter"><svg class="footer-social-link-icon" width="11.5" height="9">
                            <use href="/img/icons.svg#icon-twitter"></use>
                        </svg></a>
                    <a class="footer-social-link" href="" aria-label="go to facebook"><svg class="footer-social-link-icon" width="6.5"
                            height="12.5">
                            <use href="/img/icons.svg#icon-facebook"></use>
                        </svg></a>
                    <a class="footer-social-link" href="" aria-label="go to instagram"><svg class="footer-social-link-icon" width="13" height="13">
                            <use href="/img/icons.svg#icon-instagram"></use>
                        </svg></a>
                    <a class="footer-social-link" href="" aria-label="go to github"><svg class="footer-social-link-icon" width="13" height="13">
                            <use href="/img/icons.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">Company</p><ul class="footer-ul">
                <li class="footer-li"><a class="footer-link-style" aria-label="go to About" href="/">About</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to About" href="/">About</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Works" href="/">Works</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Career" href="/">Career</a></li></ul>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">Help</p><ul class="footer-ul">
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Customer Support" href="/">Customer Support</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Delivery Details" href="/">Delivery Details</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Terms & Conditions" href="/">Terms & Conditions</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Privacy Policy" href="/">Privacy Policy</a></li></ul>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">FAQ</p><ul class="footer-ul">
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Account" href="/">Account</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Manage Deliveries" href="/">Manage Deliveries</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Orders" href="/">Orders</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Payments" href="/">Payments</a></li></ul>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">Resources</p><ul class="footer-ul">
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Free eBooks" href="/">Free eBooks</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Development Tutorial" href="/">Development Tutorial</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to How to - Blog" href="/">How to - Blog</a></li>
                <li class="footer-li"><a class="footer-link-style" aria-label="go to Youtube Playlist" href="/">Youtube Playlist</a></li></ul>
            </div>
        </div>
        <div class="footer-pays-box">
            <p class="footer-logo-decription">Shop.co © 2000-2023, All Rights Reserved</p>
            <a class="footer-pay-icons" href="" aria-label="pay with visa"><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-visa"></use>
                </svg></a>
            <a class="footer-pay-icons" href="" aria-label="pay with mastercard"><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-mastercard"></use>
                </svg></a>
            <a class="footer-pay-icons" href="" aria-label="pay with paypal"><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-paypal"></use>
                </svg></a>
            <a class="footer-pay-icons" href="" aria-label="pay with apple pay"><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-a-pay"></use>
                </svg></a>
            <a class="footer-pay-icons" href="" aria-label="pay with google pay"><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-g-pay"></use>
                </svg></a>
        </div>
    </div>
</section>