<section class="footer">
    <div class="container">
        <div class="footer-search-box">
            <h2 class="footer-title">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
            <form class="footer-form">
                <label>
                    <svg class="footer-form-icon" width="20" height="16">
                        <use href="/img/icons.svg#icon-message"></use>
                    </svg>
                    <input class="footer-input" placeholder="Enter your email address" type="text" /></label><button
                    class="footer-button" type="submit">Subscribe to Newsletter</button>
            </form>
        </div>

        <div class="footer-links-box">
            <div class="footer-logo-box">
                <p class="footer-logo">SHOP.CO</p>
                <p class="footer-logo-decription">We have clothes that suits your style and which you're proud to wear.
                    From women to men.</p>
                <div class="footer-social">
                    <a class="footer-social-link" href=""><svg class="footer-social-link-icon" width="11.5" height="9">
                            <use href="/img/icons.svg#icon-twitter"></use>
                        </svg></a>
                    <a class="footer-social-link" href=""><svg class="footer-social-link-icon" width="6.5"
                            height="12.5">
                            <use href="/img/icons.svg#icon-facebook"></use>
                        </svg></a>
                    <a class="footer-social-link" href=""><svg class="footer-social-link-icon" width="13" height="13">
                            <use href="/img/icons.svg#icon-instagram"></use>
                        </svg></a>
                    <a class="footer-social-link" href=""><svg class="footer-social-link-icon" width="13" height="13">
                            <use href="/img/icons.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">Company</p>
                <a class="footer-link-style" href="">About</a>
                <a class="footer-link-style" href="">Features</a>
                <a class="footer-link-style" href="">Works</a>
                <a class="footer-link-style" href="">Career</a>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">Help</p>
                <a class="footer-link-style" href="">Customer Support</a>
                <a class="footer-link-style" href="">Delivery Details</a>
                <a class="footer-link-style" href="">Terms & Conditions</a>
                <a class="footer-link-style" href="">Privacy Policy</a>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">FAQ</p>
                <a class="footer-link-style" href="">Account</a>
                <a class="footer-link-style" href="">Manage Deliveries</a>
                <a class="footer-link-style" href="">Orders</a>
                <a class="footer-link-style" href="">Payments</a>
            </div>
            <div class="footer-links-category">
                <p class="footer-category-title">Resources</p>
                <a class="footer-link-style" href="">Free eBooks</a>
                <a class="footer-link-style" href="">Development Tutorial</a>
                <a class="footer-link-style" href="">How to - Blog</a>
                <a class="footer-link-style" href="">Youtube Playlist</a>
            </div>
        </div>
        <div class="footer-pays-box">
            <p class="footer-logo-decription">Shop.co © 2000-2023, All Rights Reserved</p>
            <a class="footer-pay-icons" href=""><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-visa"></use>
                </svg></a>
            <a class="footer-pay-icons" href=""><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-mastercard"></use>
                </svg></a>
            <a class="footer-pay-icons" href=""><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-paypal"></use>
                </svg></a>
            <a class="footer-pay-icons" href=""><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-a-pay"></use>
                </svg></a>
            <a class="footer-pay-icons" href=""><svg class="footer-pay-icon" width="47" height="30">
                    <use href="/img/icons.svg#icon-g-pay"></use>
                </svg></a>
        </div>
    </div>
</section>