<section class="happy-customers-section" id="happy-customers">
    <h2 class="happy-customers-title">OUR HAPPY CUSTOMERS</h2>
    <div class="happy-customers-arrows-box">
        <svg class="happy-customers-arrow" width="20" height="16" aria-label="go back to previus page">
            <use href="/img/icons.svg#icon-left-arrow"></use>
        </svg>
        <svg class="happy-customers-arrow" width="20" height="16" aria-label="go to next page">
            <use href="/img/icons.svg#icon-right-arrow"></use>
        </svg>
    </div>
    <ul class="happy-customers-list">
        <li class="happy-customers-item">
            <div class="happy-customers-stars-box">
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="happy-customers-user-name">Sarah M.</p>
                <svg class="happy-customers-green-icon" width="20" height="21">
                    <use href="/img/icons.svg#icon-green-bird"></use>
                </svg>
            </div>
            <p class="happy-customers-user-text">"I'm blown away by the quality and style of the clothes I received from
                Shop.co. From casual wear to
                elegant dresses,
                every piece I've bought has exceeded my expectations.”</p>
        </li>
        <li class="happy-customers-item">
            <div class="happy-customers-stars-box">
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="happy-customers-user-name">Alex K.</p>
                <svg class="happy-customers-green-icon" width="20" height="21">
                    <use href="/img/icons.svg#icon-green-bird"></use>
                </svg>
            </div>
            <p class="happy-customers-user-text">"Finding clothes that align with my personal style used to be a
                challenge until I discovered Shop.co. The range of
                options they offer is truly remarkable, catering to a variety of tastes and occasions.”</p>
        </li>
        <li class="happy-customers-item">
            <div class="happy-customers-stars-box">
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="happy-customers-star-icon" width="22" height="22">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="happy-customers-user-name">James L.</p>
                <svg class="happy-customers-green-icon" width="20" height="21">
                    <use href="/img/icons.svg#icon-green-bird"></use>
                </svg>
            </div>
            <p class="happy-customers-user-text">"As someone who's always on the lookout for unique fashion pieces, I'm
                thrilled to have stumbled upon Shop.co. The
                selection of clothes is not only diverse but also on-point with the latest trends.”</p>
        </li>
    </ul>
</section>