<header class="header">
    <nav class="header-nav-menu">
        <a class="header-logo" href="../index.html" aria-label="go to home page">SHOP.CO</a>
        <ul class="header-nav-list">
            <li class="header-nav-item">
                <a class="header-nav-link" href="/">Shop</a>
                <svg class="header-shop-icon" width="12" height="7">
                    <use href="../img/icons.svg#icon-down-arrow"></use>
                </svg>
            </li>
            <li class="header-nav-item">
                <a class="header-nav-link" href="/">On Sale</a>
            </li>
            <li class="header-nav-item">
                <a class="header-nav-link" href="/">New Arrivals</a>
            </li>
            <li class="header-nav-item">
                <a class="header-nav-link" href="/">Brands</a>
            </li>
        </ul>
    </nav>
    <label class="header-search-label">
        <svg class="header-search-icon" width="22" height="22">
            <use href="../img/icons.svg#icon-loop"></use>
        </svg>
        <input class="header-search-input" type="text" placeholder="Search for products..."
            name="searchField" /></label>
    <svg class="header-cart-icon" width="22" height="22">
        <use href="../img/icons.svg#icon-cart"></use>
    </svg>
    <svg class="header-user-icon" width="22" height="22">
        <use href="../img/icons.svg#icon-user"></use>
    </svg>
</header>