<section class="hero-section" id="hero">
    <div class="hero-info-box">
        <h1 class="hero-title">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
        <p class="hero-text">Browse through our diverse range of meticulously crafted garments, designed to bring out
            your
            individuality and
            cater to
            your sense of style.</p>
        <button class="hero-btn" type="button">Shop Now</button>
        <ul class="hero-info-list">
            <li class="hero-info-item">200+
                <p class="hero-info-text">International Brands</p>
            </li>
            <li class="hero-info-item">2,000+
                <p class="hero-info-text">High-Quality Products</p>
            </li>
            <li class="hero-info-item">30,000+
                <p class="hero-info-text">Happy Customers</p>
            </li>
        </ul>
    </div>
    <div class="hero-brend-box">
        <svg class="hero-brend-icon" width="167" height="34">
            <use href="/img/icons.svg#icon-versace"></use>
        </svg>
        <svg class="hero-brend-icon" width="92" height="38">
            <use href="/img/icons.svg#icon-zara"></use>
        </svg>
        <svg class="hero-brend-icon" width="157" height="34">
            <use href="/img/icons.svg#icon-gucci"></use>
        </svg>
        <svg class="hero-brend-icon" width="195" height="32">
            <use href="/img/icons.svg#icon-prada"></use>
        </svg>
        <svg class="hero-brend-icon" width="208" height="34">
            <use href="/img/icons.svg#icon-calvin"></use>
        </svg>
    </div>
</section>