<section class="top-selling-section" id="top-selling">
    <h2 class="top-selling-title">top selling</h2>
    <ul class="top-selling-list">
        <li class="top-selling-item">
            <div class="top-selling-img-box"></div>
            <h3 class="top-selling-item-title">VERTICAL STRIPED SHIRT</h3>
            <div class="top-selling-rating-stars">
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="top-selling-rating">5.0/5</p>
            </div>
            <p class="top-selling-item-price">$212</p>
        </li>
        <li class="top-selling-item">
            <div class="top-selling-img-box"></div>
            <h3 class="top-selling-item-title">COURAGE GRAPHIC T-SHIRT</h3>
            <div class="top-selling-rating-stars">
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="top-selling-rating">4.0/5</p>
            </div>
            <p class="top-selling-item-price">$145</p>
        </li>
        <li class="top-selling-item">
            <div class="top-selling-img-box"></div>
            <h3 class="top-selling-item-title">LOOSE FIT BERMUDA SHORTS</h3>
            <div class="top-selling-rating-stars">
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="top-selling-rating">3.0/5</p>
            </div>
            <p class="top-selling-item-price">$80</p>
        </li>
        <li class="top-selling-item">
            <div class="top-selling-img-box"></div>
            <h3 class="top-selling-item-title">FADED SKINNY JEANS</h3>
            <div class="top-selling-rating-stars">
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg><svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="top-selling-rating-icon" width="18" height="18">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="top-selling-rating">4.5/5</p>
            </div>
            <p class="top-selling-item-price">$210</p>
        </li>
    </ul>
    <button class="top-selling-btn" type="button" aria-label="show more top goods">View All</button>
</section>