<section>
    <div class="container">

<div>
<p></p>
<p></p>
<p></p>
</div>
<div>
    <p></p>
    <div><button></button><button></button><button></button></div>
</div>
<ul>
<li>
<div>
<div> <div></div><svg class="product-settings-icon" width="24" height="24">
    <use href="/img/icons.svg#icon-settings"></use>
</svg></div>
<div>
    <span>
        <p></p>
        <svg></svg>
    </span>
    <p></p>
    <p></p>
</div>
</div>
</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>

    </div>
</section>