<section class="product-detail">
    <div class="container">
        <div class="product-links">
            <a href="" class="product-link">Home</a>
            <svg class="product-link-svg" width="6.5" height="11.5">
                <use href="/img/icons.svg#icon-arrow-right-links"></use>
            </svg><a href="" class="product-link">Shop</a>
            <svg class="product-link-svg" width="6.5" height="11.5">
                <use href="/img/icons.svg#icon-arrow-right-links"></use>
            </svg><a href="" class="product-link">Man</a>
            <svg class="product-link-svg" width="6.5" height="11.5">
                <use href="/img/icons.svg#icon-arrow-right-links"></use>
            </svg><a href="" class="product-link">T-Shirts</a>
        </div>
        <div class="product-images">
            <div class="product-images-thumb-box">
                <img class="product-image-thumb" width="152" height="167" src="" alt="" />
                <img class="product-image-thumb" width="152" height="167" src="" alt="" />
                <img class="product-image-thumb" width="152" height="167" src="" alt="" />
            </div>
            <img class="product-image-big" width="444" height="530" src="" alt="" />
        </div>
        <div class="product-description">
            <h2 class="product-description-title">One Life Graphic T-shirt</h2>
            <div class="product-description-grade">
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="product-grade-number">
                    4.5/<span class="product-grade-number-grey">5</span>
                </p>
            </div>
            <div class="product-description-price">
                <p class="product-description-price-current">$260</p>
                <p class="product-description-price-old">$300</p>
                <span class="product-description-price-sale">-40%</span>
            </div>
            <p class="product-description-text">
                This graphic t-shirt which is perfect for any occasion. Crafted from a
                soft and breathable fabric, it offers superior comfort and style.
            </p>
            <div class="product-colors">
                <p class="product-colors-text">Select Colors</p>
                <span class="product-color"></span>
                <span class="product-color"></span>
                <span class="product-color"></span>
            </div>
            <div class="product-sizes">
                <p class="product-sizes-text">Choose Size</p>
                <span class="product-size">Small</span>
                <span class="product-size">Medium</span>
                <span class="product-size">Large</span>
                <span class="product-size">X-Large</span>
            </div>
            <div class="product-numbers">
                <div class="product-numbers-box">
                    <p class="product-numbers-change">
                        <svg class="product-change-icon" width="19" height="19">
                            <use href="/img/icons.svg#icon-minus"></use>
                        </svg>
                    </p>
                    <p class="product-number">1</p>
                    <p class="product-numbers-change">
                        <svg class="product-change-icon" width="19" height="19">
                            <use href="/img/icons.svg#icon-plus"></use>
                        </svg>
                    </p>
                </div>
                <button class="product-numbers-button" type="button">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</section>