<section class="product-like">
    <div class="container">
        <h2 class="product-like-title">You might also like</h2>
    <ul class="product-like-ul">
        <li class="product-like-li">
            <img class="product-like-img" src="" alt=""  width="295px" height="298px">
            <a href="" class="product-like-link">Polo with Contrast Trims</a>
            <div class="product-like-description-grade">
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="product-like-grade-number">
                    4.0/<span class="product-like-grade-number-grey">5</span>
                </p>
            </div>
            <div class="product-like-description-price">
                <p class="product-like-description-price-current">$212</p>
                <p class="product-like-description-price-old">$242</p>
                <span class="product-like-description-price-sale">-20%</span>
            </div>
        </li>
        <li class="product-like-li"></li>
            <img class="product-like-img" src="" alt=""  width="295px" height="298px">
            <a href="" class="product-like-link">Gradient Graphic T-shirt</a>
            <div class="product-like-description-grade">
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="product-like-grade-number">
                    3.5/<span class="product-like-grade-number-grey">5</span>
                </p>
            </div>
            <div class="product-like-description-price">
                <p class="product-like-description-price-current">$145</p>
                <p class="product-like-description-price-old" hidden></p>
                <span class="product-like-description-price-sale" hidden></span>
            </div>
        </li>
        <li class="product-like-li"></li>
            <img class="product-like-img" src="" alt=""  width="295px" height="298px">
            <a href="" class="product-like-link">Polo with Tipping Details</a>
            <div class="product-like-description-grade">
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="product-like-grade-number">
                    4.5/<span class="product-like-grade-number-grey">5</span>
                </p>
            </div>
            <div class="product-like-description-price">
                <p class="product-like-description-price-current">$180</p>
                <p class="product-like-description-price-old" hidden></p>
                <span class="product-like-description-price-sale" hidden></span>
            </div>
        </li>
        <li class="product-like-li">
            <img class="product-like-img" src="" alt=""  width="295px" height="298px">
            <a href="" class="product-like-link">Black Striped T-shirt</a>
            <div class="product-like-description-grade">
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-like-grade-star" width="18.5" height="18.5">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <p class="product-like-grade-number">
                    5.0/<span class="product-like-grade-number-grey">5</span>
                </p>
            </div>
            <div class="product-like-description-price">
                <p class="product-like-description-price-current">$120</p>
                <p class="product-like-description-price-old">$150</p>
                <span class="product-like-description-price-sale">-30%</span>
            </div>
        </li>
    </ul>
</div>
</section>