<section>
    <div class="container">
        <div class="product-reviews-head">
            <a class="product-reviews-head-link" href="" aria-label="go to product details">Product Details</a>
            <a class="product-reviews-head-link" href="" aria-label="go to rating &reviews">Rating & Reviews</a>
            <a class="product-reviews-head-link" href="" aria-label="go to faqs">FAQs</a>
        </div>
        <div class="product-reviews-filter">
            <div class="product-all-reviews">
                <a href="" class="product-all-reviews-link" aria-label="go to all reviews">All Reviews</a>
                <p class="product-all-reviews-number">(451)</p>
            </div>

            <div class="product-reviews-settings">
                <button type="button" class="product-reviews-button" aria-label="push to filter reviews"> <svg class="product-settings-icon" width="24"
                        height="24">
                        <use href="/img/icons.svg#icon-settings"></use>
                    </svg></button>
                <button type="button" class="product-reviews-button" aria-label="push to latest settings">Latest <svg
                        class="product-arrow-icon" width="11.5" height="6.5">
                        <use href="/img/icons.svg#icon-down-arrow"></use>
                    </svg></button>
                <button type="button" class="product-reviews-button-write" aria-label="push to Write a Review">Write a Review</button>
            </div>
        </div>
        <ul class="product-reviews-ul">
            <li class="product-reviews-li"></li>
                <div class="product-reviews">
                    <div class="product-reviews-li-head">
                        <div class="product-reviews-li-head-grade"><svg class="product-grade-star" width="25"
                                height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                        </div>
                        <button type="button" class="product-reviews-post-btn" aria-label="push to show more actions to this post">
                            <svg class="product-dots-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-tree-dots"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="product-reviews-li-body">
                        <span class="product-reviews-sender">
                            <a href="" class="product-reviews-sender-name" aria-label="go to this sender">Samantha D.</a>
                            <svg class="product-veryfication-icon" width="20" height="20">
                                <use href="/img/icons.svg#icon-green-bird"></use>
                            </svg>
                        </span>
                        <p class="product-reviews-li-text">"I absolutely love this t-shirt! The design is unique and the fabric feels so comfortable. As a fellow designer, I appreciate the attention to detail. It's become my favorite go-to shirt."</p>
                        <p class="product-reviews-li-text-time">Posted on August 14, 2023</p>
                    </div>
                </div>
            </li>
            
            <li class="product-reviews-li"></li>
                <div class="product-reviews">
                    <div class="product-reviews-li-head">
                        <div class="product-reviews-li-head-grade"><svg class="product-grade-star" width="25"
                                height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                            <svg class="product-grade-star" width="25" height="25">
                                <use href="/img/icons.svg#icon-grade-star"></use>
                            </svg>
                        </div>
                        <button type="button" class="product-reviews-post-btn" aria-label="push to show more actions to this post">
                            <svg class="product-dots-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-tree-dots"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="product-reviews-li-body">
                        <span class="product-reviews-sender">
                            <a href="" class="product-reviews-sender-name" aria-label="go to this sender">Alex M.</a>
                            <svg class="product-veryfication-icon" width="20" height="20">
                                <use href="/img/icons.svg#icon-green-bird"></use>
                            </svg>
                        </span>
                        <p class="product-reviews-li-text">"The t-shirt exceeded my expectations! The colors are vibrant and the print quality is top-notch. Being a UI/UX designer myself, I'm quite picky about aesthetics, and this t-shirt definitely gets a thumbs up from me."</p>
                        <p class="product-reviews-li-text-time">Posted on August 15, 2023</p>
                    </div>
                </div>
            </li>
            <li class="product-reviews-li"></li>
            <div class="product-reviews">
                <div class="product-reviews-li-head">
                    <div class="product-reviews-li-head-grade"><svg class="product-grade-star" width="25"
                            height="25">
                            <use href="/img/icons.svg#icon-grade-star"></use>
                        </svg>
                        <svg class="product-grade-star" width="25" height="25">
                            <use href="/img/icons.svg#icon-grade-star"></use>
                        </svg>
                        <svg class="product-grade-star" width="25" height="25">
                            <use href="/img/icons.svg#icon-grade-star"></use>
                        </svg>
                        <svg class="product-grade-star" width="25" height="25">
                            <use href="/img/icons.svg#icon-grade-star"></use>
                        </svg>
                        <svg class="product-grade-star" width="25" height="25">
                            <use href="/img/icons.svg#icon-grade-star"></use>
                        </svg>
                    </div>
                    <button type="button" class="product-reviews-post-btn" aria-label="push to show more actions to this post">
                        <svg class="product-dots-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-tree-dots"></use>
                        </svg>
                    </button>
                </div>
                <div class="product-reviews-li-body">
                    <span class="product-reviews-sender">
                        <a href="" class="product-reviews-sender-name" aria-label="go to this sender">Ethan R.</a>
                        <svg class="product-veryfication-icon" width="20" height="20">
                            <use href="/img/icons.svg#icon-green-bird"></use>
                        </svg>
                    </span>
                    <p class="product-reviews-li-text">"This t-shirt is a must-have for anyone who appreciates good design. The minimalistic yet stylish pattern caught my eye, and the fit is perfect. I can see the designer's touch in every aspect of this shirt."</p>
                    <p class="product-reviews-li-text-time">Posted on August 16, 2023</p>
                </div>
            </div>
        </li>
        <li class="product-reviews-li"></li>
        <div class="product-reviews">
            <div class="product-reviews-li-head">
                <div class="product-reviews-li-head-grade"><svg class="product-grade-star" width="25"
                        height="25">
                        <use href="/img/icons.svg#icon-grade-star"></use>
                    </svg>
                    <svg class="product-grade-star" width="25" height="25">
                        <use href="/img/icons.svg#icon-grade-star"></use>
                    </svg>
                    <svg class="product-grade-star" width="25" height="25">
                        <use href="/img/icons.svg#icon-grade-star"></use>
                    </svg>
                    <svg class="product-grade-star" width="25" height="25">
                        <use href="/img/icons.svg#icon-grade-star"></use>
                    </svg>
                    <svg class="product-grade-star" width="25" height="25">
                        <use href="/img/icons.svg#icon-grade-star"></use>
                    </svg>
                </div>
                <button type="button" class="product-reviews-post-btn" aria-label="push to show more actions to this post">
                    <svg class="product-dots-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-tree-dots"></use>
                    </svg>
                </button>
            </div>
            <div class="product-reviews-li-body">
                <span class="product-reviews-sender">
                    <a href="" class="product-reviews-sender-name" aria-label="go to this sender">Olivia P.</a>
                    <svg class="product-veryfication-icon" width="20" height="20">
                        <use href="/img/icons.svg#icon-green-bird"></use>
                    </svg>
                </span>
                <p class="product-reviews-li-text">"As a UI/UX enthusiast, I value simplicity and functionality. This t-shirt not only represents those principles but also feels great to wear. It's evident that the designer poured their creativity into making this t-shirt stand out."</p>
                <p class="product-reviews-li-text-time">Posted on August 17, 2023</p>
            </div>
        </div>
    </li>
    <li class="product-reviews-li"></li>
    <div class="product-reviews">
        <div class="product-reviews-li-head">
            <div class="product-reviews-li-head-grade"><svg class="product-grade-star" width="25"
                    height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
                <svg class="product-grade-star" width="25" height="25">
                    <use href="/img/icons.svg#icon-grade-star"></use>
                </svg>
            </div>
            <button type="button" class="product-reviews-post-btn" aria-label="push to show more actions to this post">
                <svg class="product-dots-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-tree-dots"></use>
                </svg>
            </button>
        </div>
        <div class="product-reviews-li-body">
            <span class="product-reviews-sender">
                <a href="" class="product-reviews-sender-name" aria-label="go to this sender">Liam K.</a>
                <svg class="product-veryfication-icon" width="20" height="20">
                    <use href="/img/icons.svg#icon-green-bird"></use>
                </svg>
            </span>
            <p class="product-reviews-li-text">"This t-shirt is a fusion of comfort and creativity. The fabric is soft, and the design speaks volumes about the designer's skill. It's like wearing a piece of art that reflects my passion for both design and fashion."</p>
            <p class="product-reviews-li-text-time">Posted on August 18, 2023</p>
        </div>
    </div>
</li>
<li class="product-reviews-li"></li>
<div class="product-reviews">
    <div class="product-reviews-li-head">
        <div class="product-reviews-li-head-grade"><svg class="product-grade-star" width="25"
                height="25">
                <use href="/img/icons.svg#icon-grade-star"></use>
            </svg>
            <svg class="product-grade-star" width="25" height="25">
                <use href="/img/icons.svg#icon-grade-star"></use>
            </svg>
            <svg class="product-grade-star" width="25" height="25">
                <use href="/img/icons.svg#icon-grade-star"></use>
            </svg>
            <svg class="product-grade-star" width="25" height="25">
                <use href="/img/icons.svg#icon-grade-star"></use>
            </svg>
            <svg class="product-grade-star" width="25" height="25">
                <use href="/img/icons.svg#icon-grade-star"></use>
            </svg>
        </div>
        <button type="button" class="product-reviews-post-btn" aria-label="push to show more actions to this post">
            <svg class="product-dots-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-tree-dots"></use>
            </svg>
        </button>
    </div>
    <div class="product-reviews-li-body">
        <span class="product-reviews-sender">
            <a href="" class="product-reviews-sender-name" aria-label="go to this sender">Ava H.</a>
            <svg class="product-veryfication-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-green-bird"></use>
            </svg>
        </span>
        <p class="product-reviews-li-text">"I'm not just wearing a t-shirt; I'm wearing a piece of design philosophy. The intricate details and thoughtful layout of the design make this shirt a conversation starter."</p>
        <p class="product-reviews-li-text-time">Posted on August 19, 2023</p>
    </div>
</div>
</li>
        </ul>
        <button type="button" class="product-reviews-load-more-btn" aria-label="push to Load More Reviews">Load More Reviews</button>
    </div>
</section>